body {
    min-height: 800px;
    border: 8px solid black;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: flex-end;
}

#box-1 {
    align-self: center;
    margin-right: auto;
}

.box {
    flex-shrink: 1;
    font-size: 50px;
    width: 150px;
    height: 150px;
    min-width: 100px;
    background-color: mediumblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 575px) {
    body {
        flex-wrap: wrap;
    }
}
